/* mise en forme login...*/
html, body{
    background-color: #f0f0f0c9;
    font-family: poppins, sans-serif;
}
.sidebar {
    background-color: #1f2d3d;
    color: #fff;
    padding: 1.5rem;
    min-height: 100vh;
}
.sidebar h4 {
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 900;
}